.popup__input {
    width: 358px;
    margin-top: 54px;
    margin-left: 36px;
    border: 0;
    border-bottom:1px solid #eee;
}

@media screen and (max-width: 767px){
    .popup__input {  
    max-width: 238px;
    margin-left: 22px;
     }
  }

  .popup__input:last-of-type {
    margin: 0px;
    margin-top: 30px;
    margin-left: 36px;
  }
  
  @media screen and (max-width: 767px){
      .popup__input:last-of-type {  
      max-width: 238px;
      margin-left: 22px;
       }
    }