.popup__container {
    position: relative;
    background: #fff;
    max-width: 430px;
    margin: auto;
    height: auto;
    top: 195px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .popup__container {  
        background: #fff;
        max-width: 282px;
        height: auto;
        top: 123px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
     }
  }