.header__logo {
	max-width: 142px;
	height: auto;
	object-fit: cover;
	margin-bottom: 40px;
}

@media screen and (max-width: 620px) {
	.header__logo {
		max-width: 104px;
		margin-bottom: 28px;
		margin-left: 27px;
	}
}