.popup-photo-click__close-button {
	background-image: url(../../../images/plus.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	right: -40px;
	top: -40px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	transform: rotate(45deg);
}

.popup-photo-click__close-button:hover {
	opacity: 60%;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.popup-photo-click__close-button {
		width: 26px;
		height: 26px;
		right: 0px;
		top: -40px;
	}
}