.popup__save-button {
    margin-top: 62px;
    margin-bottom: 37px;
    width: 83%;
    max-width: 358px;
    height: 50px;
    margin-left: 36px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: 80%;
}


@media screen and (max-width: 767px){
    .popup__save-button {  
    margin-left: 22px;
     }
  }