.popup-profile__title {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    margin-top: 33px;
    margin-left: 36px;
}

@media screen and (max-width: 767px){
    .popup-profile__title {  
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-left: 22px;
     }
  }