.popup-profile__input {
    width: 358px;
    margin-top: 54px;
    margin-left: 36px;
    border: 0;
    border-bottom:1px solid #eee;
    font-size: 14px;
    padding-bottom: 13px;
    font-weight: 400;
}

@media screen and (max-width: 767px){
    .popup-profile__input {  
    max-width: 238px;
    margin-top: 75px;
    margin-left: 22px;
     }
  }

  .popup-profile__input:last-of-type {
    margin-top: 30px;
  }
  
