.profile__job {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	margin: 0;
	margin-top: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 1027px) {
	.profile__job {
		font-size: 17px;
		line-height: 20px;
	}
}

@media screen and (max-width: 620px) {
	.profile__job {
		font-size: 14px;
		line-height: 17px;
	}
}